<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-more">
                <div class="background-blur"></div>
            </div>
            <form class="register100-form validate-form">
                <span class="register100-form-title p-b-43  bounce-in-top">
                    Register to continue
                </span>
                
                <div class="wrap-input100 validate-input" data-validate="First Name is required">
                    <input class="input100" type="text" name="First Name" placeholder="First Name">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Second Name is required">
                    <input class="input100" type="text" name="Second Name" placeholder="Second Name">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="email" name="email" placeholder="Email">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="password" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password confirmation is required">
                    <input class="input100" type="password" name="confirm-password" placeholder="Confirm Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Address is required">
                    <input class="input100" type="text" name="address" placeholder="Address Line">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Region is required">
                    <input class="input100" type="text" name="region" placeholder="Region">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="City is required">
                    <select class="input100 custom-select city-select" name="city">
                        <option value="" disabled selected >Select City</option>
                        <option value="City1">Sousse</option>
                        <option value="City10">Monastir</option>
                        <option value="City10">Mahdia</option>
                        <option value="City2">Sfax</option>
                        <option value="City3">Kairouen</option>
                        <option value="City4">Tozeur</option>
                        <option value="City5">Ariana</option>
                        <option value="City6">Beja</option>
                        <option value="City7">Nabeul</option>
                        <option value="City8">Jerba</option>
                        <option value="City9">Binzart</option>
                        
                    </select>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Zip/Postal Code is required">
                    <input class="input100" type="text" name="zip-code" placeholder="Zip Code">
                    <span class="focus-input100"></span>
                </div>

                <div class="contact100-form-checkbox m-l-4">
                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="agree-terms" data-validate="You must agree to terms and conditions">
                    <label class="label-checkbox100" for="ckb1">
                        I agree to the <a href="#">Terms and Conditions</a>
                    </label>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
